*{
    margin:0px;
    padding:0px;
}
.cuerpoindex {background: #FFFCF2;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

@media screen and (min-width:320px){

/*Header*/
header{
    background: #EB5E28; 
    width: 100%;
    min-width:100%;
    height: 6%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    
    
}

.tituloheader{
    font-size: 100%;
    color: #FFFCF2;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    
    
}

/*Footer*/

footer{
    background:#403D39; 
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textofooter{
    color: #fff;    
}


/*Cuerpo index*/


.mainindex{
    padding-top:10vw;
    padding-right: 0px;
    max-width: fit-content;
 
}

 .carousel{
    height: 800px;
    padding: 0px;
    width: 100vw;
    max-width: 100vw;
}

.carouselimg{
    height: 800px;
    min-width: 1920px;
    

} 
.captioncarousel{
    opacity: 70%;
    font-size: 40px;
    padding-bottom:5px;
   
}



.carousel-indicators{
    opacity: 0%;
}

.botonscroll{
    padding-top:10px;
    height: 30px;
    width: 20px;
    animation:bounce;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}
.descargadebrochuretexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.slogan{
    text-align: center;
    font-weight: bold;
}

.especificaciones{
    text-align: center;

}

.botonbrochure{
    text-align: center;
    background-color:#EB5E28;
    width:190px;
    height: 30px;
    border-radius: 5%;
}

.linkabrochure{
    text-decoration: none;
    color: #feffff;
}

.descargadebrochureimg{
    
    padding-right: 0px;
    
    display: grid;
    grid-template-columns: repeat(33vw 67vw);
    grid-template-rows: repeat(2 50%);
    row-gap: 5px;
    column-gap: 3px;
    grid-template-areas:
    "gridbrohome1 gridbrohome2"
    "gridbrohome1 gridbrohome3";
}


.grid1{
    grid-area: gridbrohome1;
}

.gridbrohome1{
    height: 100%;
    width: 33vw;
}

.grid2{
    grid-area: gridbrohome2;
}

.gridbrohome2{
    height: 100%;
    width: 67vw;
   
}

.grid3{
    grid-area: gridbrohome3;   
}

.gridbrohome3{
    height: 100%;
    width: 67vw;
}


.ubicacion{
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa{
    width: 100vw;
}

.contacto{
    max-width: 100vw;
}
.mensajecontacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 0px;
}

.cajaform{
    width: 90vw;
}
   
.cajaformmensaje{
    width: 90vw;
    height: 200px;
}

.botonform{
    width: 90vw;
}

.whatsapp{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;

}

.whatsappicono{
    height: 50px;
    width: 50px;
    opacity: 60%;
    align-self: flex-end;
}
.divisores{
    color: #5e5e5e;
    height: 10px;
    
}

}

@media screen and (min-width:768px){

    .tituloheader{
        font-size: 150%;
    }

    .mainindex{
        padding-top:0vw;
    }
    .captioncarousel{
        opacity: 70%;
        font-size: 100px;
        margin:0;
    }

}